<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354665082891-249rmam0p2ev60s4fnn9usbg5ja2jd6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354665082891-249rmam0p2ev60s4fnn9usbg5ja2jd6i</string>
	<key>API_KEY</key>
	<string>AIzaSyCnZ53ZEamASEYB7rF3yAdQ0K6lc_3fYWk</string>
	<key>GCM_SENDER_ID</key>
	<string>354665082891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.northeastern.ashish.AdminAddProducts</string>
	<key>PROJECT_ID</key>
	<string>neucart-dfd72</string>
	<key>STORAGE_BUCKET</key>
	<string>neucart-dfd72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354665082891:ios:804be2eef97e141076170e</string>
	<key>DATABASE_URL</key>
	<string>https://neucart-dfd72-default-rtdb.firebaseio.com</string>
</dict>
</plist>